@charset "UTF-8"; /*!
 * Anything Set Upper 1.0.0
 */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.table {
	border-spacing: 0;
	border-collapse: collapse;
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
	background-color: #f8f8f8;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
td, th {
	padding: 0;
}
th {
	text-align: left;
	background-color: #e4e4e4;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: top;
	border-top: 1px solid #ddd;
}
.table>thead>tr>th {
	vertical-align: bottom;
	border-bottom: 2px solid #ddd;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
	border-top: 0;
}
.table-bordered {
	border: 1px solid #ddd;
}
.table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
	border: 1px solid #ddd;
}
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td {
	border-bottom-width: 2px;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
	border-top: 0;
}
.table-nobordered>thead>tr>th, .table-nobordered>tbody>tr>th, .table-nobordered>tfoot>tr>th, .table-nobordered>thead>tr>td, .table-nobordered>tbody>tr>td, .table-nobordered>tfoot>tr>td {
	border-top: 0!important;
	border: none!important;
}
.table-nobordered th, .table-nobordered td {
	background-color: transparent;
}
.table-hover tr:hover {
	background-color: #eee;
}

.ctrl-edit, .ctrl-delete {
	width: 54px;
	line-height: 100%;
	vertical-align: middle;
}

#sortable tr {
	cursor: move;
}

.sortable-helper {
	min-height: 60px;
	border: 2px dashed #e8e8e8;
	background-color: transparent;
	border-radius: 3px;
}

.configure-items {
	display: block;
	clear: both;
	width: 100%;
}

.configure-items>li {
	display: block;
	position: relative;
	float: left;
	width: 50%;
	min-height: 60px;
	padding: 0px 8px 14px 0px;
}

.configure-items>li>label {
	font-weight: bold;
	font-size: .86rem;
}

.configure-items>li>div {
	margin-top: 3px;
}

.preset_regx {
	position: absolute;
	display: none;
}

.hide-content {
	display: none;
}

.accordion-list {
	margin-bottom: 20px;
	border-radius: 4px;
}

.accordion-toggle {
	position: relative;
	margin-bottom: 0;
	padding: 15px 15px;
	border: 1px solid #d0d0d0;
	border-bottom: 1px solid #d8d8d8;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	color: #202020;
	background-color: #e8e8e8;
}

.accordion-toggle>strong.highlight {
	background-color: transparent;
	font-size: 1rem;
	color: #0074a2;
}

.accordion-icon {
	display: inline-block;
}

.accordion-toggle[data-toggle='disabled'] .accordion-icon {
	color: #cccccc;
}

.accordion-content {
	padding: 10px 30px 15px;
	border: 1px solid #d0d0d0;
	border-top: 0;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	color: #202020;
	background-color: #f8f8f8;
}

.table-poic th {
	background-color: transparent;
}

.poic-source {
	margin-top: 3px;
	margin-bottom: 9px;
}

.poic-source>code {
	display: block;
	padding: 8px 10px;
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #555;
}

.baloon_box {
	position: absolute;
	max-width: 320px;
	padding: 6px 8px;
	background: #202020;
	border: 1px solid #555555;
	border-radius: 3px;
	color: #ffffff;
	font-size: .75rem;
	box-shadow: 1px 1px 2px 1px rgba(0,0,0,.2);
	z-index: 999;
}
.baloon_box:after, .baloon_box:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.baloon_box:after {
	border-color: rgba(32, 32, 32, 0);
	border-top-color: #202020;
	border-width: 10px;
	margin-left: -10px;
}
.baloon_box:before {
	border-color: rgba(85, 85, 85, 0);
	border-top-color: #555555;
	border-width: 11px;
	margin-left: -11px;
}

.brick-controller {
	max-width: 100%;
}

.button-brick {
	clear: both;
	display: block;
	margin: 15px 0 10px;
	padding-top: 15px;
	border-top: 1px solid #ececec;
}

.button-brick>input, .button-brick>button {
	margin-left: 15px!important;
}

.button-brick>input:first-child {
	margin-left: 0px!important;
}

.pull-left {
	float: left;
}

.badge {
	display: inline-block;
	min-width: 10px;
	padding: 3px 7px;
	font-size: 11px;
	font-weight: 700;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	background-color: #777;
	border-radius: 10px;
}

.badge-notice {
	padding: 1px 7px 3px;
	margin-left: 9px;
	background-color: #0074a2;
}
